body, html {
  height: 100%;
}

.bg {
  /* The image used */

background: url("https://fast-garden-06413.herokuapp.com/imagesHosted/books-bright-contemporary-1122530.jpg") no-repeat;
background-size: auto auto;
}