body {
  background-image: url("wood-wallpaper-13.jpg");
}

.content {
  max-width: 700px;
  max-height:1000px;

  height: 300px;
  background-color:white;
  margin: auto;
  padding: 10px;
}

h1 {
  color: navy;
  margin-left: 20px;
}

div:hover{
  background-color: yellow;
  font-weight: bold;
}

.div-first {
	background-color: #00BCD4;
	font-size: 2em;
}

.div-secound {
	text-align:center
}

.paragraph-first{
	float:right; 
	text-align: center; 
	background-color: coral;
}

.photo{
	float: left; margin: 0px 0px 0px 0px;
	width:200px;height:200px;
}

