body {
    background-image: url("wood-wallpaper-13.jpg");
    background-color: darkslategrey;
  ]
    color: azure;
    font-size: 1.1em;
}

.content {
    max-width: 600px;
    margin: auto;
}

div {
    background-color: navajowhite;
}

h1 {
    text-align:center
}

p {
    text-align:center
}